.nav {
    grid-area: n;
    background-color: #ffffff;
    padding: 20px;
}

.item a {
    text-decoration: none;
    color: #8793a3;
}

.item{
    margin-top: 10px;
}

.item a.active {
    color: gold;
}