.nav {

    margin-top: 1px;
    grid-area: n;
    background-color: #0483bf;
    padding: 20px;
}

.item a {
    text-decoration: none;
    color: white;
}

.item{
    margin-top: 10px;
}

.item a.active {
    color: gold;
}